@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "DM Mono", monospace, sans-serif;
}

body {
	background: black;
}

.mouse_middle_btn_animate {
	animation: mouse_animation 1.5s infinite;
}

@keyframes mouse_animation {
	0% {
		transform: translateY(0px)
	}
	100% {
		transform: translateY(5px);
		opacity: 0.1;
	}
}
